* {
    box-sizing: border-box;
}
#container{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2,30fr);

}
#green_box{
border: solid 5px green;
height: 200px;
padding: 50px;
}
#red_box{
border: solid 5px red;
margin-top: 50px;
margin-left: auto;
height: 600px;
width: 600px;
padding: 0px 60px;
}
#blue_box{
display: grid;
border: solid 5px blue;
margin-top: 50px;
margin-right: auto;
height: 600px;
width: 600px;
}
#purple_box{
border: solid 5px purple;
margin: auto;
height: 50px;
width: 550px;
padding-left: 20px;
}
#yellow_box{
border: solid 5px yellow;
margin: auto;
height: 475px;
width: 550px;
}
#form{
    padding: 0px 100px;
}